<footer class="text-center pt-4">
  <div class="w-full mx-auto px-6 max-w-300 @container md:px-8 xl:px-0">
    <h2 class="text-h4 mb-4">¿Te gustaría participar como expositor?</h2>
    <p class="text-small">
      Aún tenemos plazas disponibles para artesanos que deseen mostrar y vender
      sus creaciones durante las jornadas. Escríbenos a
      <a href="mailto:info@woodstyle.com">info@woodstyle.com</a>.
    </p>
  </div>
  <div class="border-t border-t-lino-dark mt-2"></div>
  <div class="flex justify-between items-center py-4 flex-col gap-2 md:flex-row w-full mx-auto px-6 max-w-300 @container md:px-8 xl:px-0">
    <div class="gap-6 items-center text-small font-bold uppercase g-2 hidden md:flex">
      <picture>
        <source type="image/avif" srcset="assets/images/logo.avif?height=100" />
        <source type="image/webp" srcset="assets/images/logo.webp?height=100" />
        <img class="h-7.5 grayscale" src="assets/images/logo.png?height=100" alt="Logo" />
      </picture>
      Woodstyle
    </div>
    <nav class="text-small font-bold">
      <ul class="flex gap-6 items-center">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li class="c-nav__item">
          <a href="#">Aviso legal</a>
        </li>
        <li class="c-nav__item">
          <a href="#">Privacidad</a>
        </li>
        <li class="c-nav__item">
          <a href="#">Cookies</a>
        </li>
      </ul>
    </nav>
    <div class="text-small font-bold">
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>
