<footer class="c-footer">
  <div class="o-container">
    <h2 class="c-footer__title">¿Te gustaría participar como expositor?</h2>
    <p class="c-footer__text">
      Aún tenemos plazas disponibles para artesanos que deseen mostrar y vender
      sus creaciones durante las jornadas. Escríbenos a
      <a href="mailto:info@woodstyle.com" class="c-footer__email">info@woodstyle.com</a>.
    </p>
  </div>
  <div class="c-footer__divider"></div>
  <div class="c-footer__links o-container">
    <div class="o-layout__row c-footer__logo">
      <picture>
        <source type="image/avif" srcset="assets/images/logo.avif?height=100" />
        <source type="image/webp" srcset="assets/images/logo.webp?height=100" />
        <img src="assets/images/logo.png?height=100" alt="Logo" />
      </picture>
      Woodstyle
    </div>
    <nav class="c-footer__nav">
      <ul class="o-layout__row c-nav__list-footer">
        <li class="c-nav__item">
          <a href="#" class="c-nav__link">Inicio</a>
        </li>
        <li class="c-nav__item">
          <a href="#" class="c-nav__link">Aviso legal</a>
        </li>
        <li class="c-nav__item">
          <a href="#" class="c-nav__link">Privacidad</a>
        </li>
        <li class="c-nav__item">
          <a href="#" class="c-nav__link">Cookies</a>
        </li>
      </ul>
    </nav>
    <div class="c-footer__social">
      <a href="#" class="c-footer__social-link">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="c-footer__social-link">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="c-footer__social-link">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="#" class="c-footer__social-link">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>
