<header class="sticky top-0 z-50 text-madera-base p-4 bg-[color-mix(in_srgb,var(--color-lino-light)_75%,transparent)] backdrop-blur-md justify-between">
  <div class="w-full mx-auto px-6 max-w-7xl @container md:px-8 xl:px-0 flex gap-6 items-center justify-between">
    <div class="font-bold text-h4 uppercase tracking-wide text-shadow-lg">
      <a href="index.html" class="flex gap-6 items-center ">
        <picture>
          <source type="image/avif" srcset="assets/images/logo.avif?height=100" />
          <source type="image/webp" srcset="assets/images/logo.webp?height=100" />
          <img src="assets/images/logo.png?height=100" alt="Logo" class="h-12.5 drop-shadow-lg" />
        </picture>
        Woodstyle
      </a>
    </div>
    <nav class="flex gap-6 items-center">
      <input type="checkbox" id="menu-opened" class="hidden peer" />
      <label for="menu-opened" class="main-menu-button group">
        <svg
          width="30"
          height="30"
          class="block"
          viewBox="0 -960 960 960"
          fill="currentColor"
          id="menu"
          aria-label="Abrir menú de navegación"
        >
          <path class="menu-button-line" d="M120-640v-80h720v80H120Z" />
          <path class="menu-button-line" d="M120-440v-80h720v80H120Z" />
          <path class="menu-button-line" d="M120-240v-80h720v80H120Z" />
        </svg>
      </label>
      <ul class="main-menu-list group">
        <li><a href="speakers.html">Ponentes</a></li>
        <li><a href="contestants.html">Participantes</a></li>
      </ul>
    </nav>
  </div>
</header>
